/* Extra small devices (portrait phones, less than 576px)
  No media query since this is the default in Bootstrap */
	body {
		background-image: url('../images/Blue-Wall.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-color: #a3dcb9;
		color: #FFFFFF;
	}

	#container {
		width: 100%;
	}

	.title {
		width: 100%;
		font-family: Algerian;
	}

	#container img{
		width: 15%;
	}
	
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 568px) {
	body {
		background-image: url('../images/Valencia.jpg');
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}